## Read population data from folder population_data, join tables and save shapefiles

### Import libraries

In [1]:
# Import libraries
from pyproj import CRS
import geopandas as gpd
from functools import reduce
import pandas as pd


# Turhia ???

#import geojson
#import mplleaflet
#import folium
#import re
#from pyproj import CRS
#from geopandas.tools import geocode
#from shapely.geometry import Point, Polygon
#import requests
#import matplotlib.pyplot as plt
#import matplotlib
#import contextily as ctx

### Read population shape files

In [2]:
def read_population_data(year):
    
    # Define path to file
    fp = "population_data/"+str(year)+"/Vaestotietoruudukko_"+str(year)+".shp"
    
    # Read shapefile
    pop = gpd.read_file(fp)
    
    # Define coordinate reference system
    pop.crs = CRS.from_epsg(3879).to_wkt()
    
    # Drop columns if number of resudents is less than 0 (no value) or over 15000 (values without real location)
    pop = pop[(pop["ASUKKAITA"] > 0) & (pop["ASUKKAITA"] < 15000)]
    
    # Drop all the columns except index and asukkaita
    pop_pop = pop[["INDEX", "ASUKKAITA"]]
    pop_geom = pop[["INDEX", "geometry"]]
    
    # Print number of residents by year
    print(year, "number of residents:", pop_pop["ASUKKAITA"].sum())
    
    # Split data to two parts for later joining. First will have population data and second geometric data.
    
    # Rename column asukkaita to pop+year
    pop_pop = pop_pop.rename(columns={'ASUKKAITA': 'pop'+str(year)})
    
    # Rename column geometry to geometry+year. Must do to later fill missing values and merge tables.
    pop_geom = pop_geom.rename(columns={'geometry': 'geometry'+str(year)})
    
    # Set column INDEX to INDEX
    pop_pop = pop_pop.set_index("INDEX")
    pop_geom = pop_geom.set_index("INDEX")
    
    # Return result geodataframe
    return pop_pop, pop_geom

### Read the files

In [3]:
# Data is available from years 1997-2003 and 2008-2019

# Years 1997 to 2003
pop1997_pop, pop1997_geom = read_population_data(1997)
pop1998_pop, pop1998_geom = read_population_data(1998)
pop1999_pop, pop1999_geom = read_population_data(1999)
pop2000_pop, pop2000_geom = read_population_data(2000)
pop2001_pop, pop2001_geom = read_population_data(2001)
pop2002_pop, pop2002_geom = read_population_data(2002)
pop2003_pop, pop2003_geom = read_population_data(2003)

# Years 2008 to 2012
pop2008_pop, pop2008_geom = read_population_data(2008)
pop2009_pop, pop2009_geom = read_population_data(2009)
pop2010_pop, pop2010_geom = read_population_data(2010)
pop2011_pop, pop2011_geom = read_population_data(2011)
pop2012_pop, pop2012_geom = read_population_data(2012)

# Years 2013 to 2019
pop2013_pop, pop2013_geom = read_population_data(2013)
pop2014_pop, pop2014_geom = read_population_data(2014)
pop2015_pop, pop2015_geom = read_population_data(2015)
pop2016_pop, pop2016_geom = read_population_data(2016)
pop2017_pop, pop2017_geom = read_population_data(2017)
pop2018_pop, pop2018_geom = read_population_data(2018)
pop2019_pop, pop2019_geom = read_population_data(2019)

1997 number of residents: 882280
1998 number of residents: 894264
1999 number of residents: 909602
2000 number of residents: 919561
2001 number of residents: 925631
2002 number of residents: 938930
2003 number of residents: 943607
2008 number of residents: 979739
2009 number of residents: 1007910
2010 number of residents: 1012326
2011 number of residents: 1025560
2012 number of residents: 1036528
2013 number of residents: 1049988
2014 number of residents: 1076765
2015 number of residents: 1087308
2016 number of residents: 1111940
2017 number of residents: 1121567
2018 number of residents: 1137053
2019 number of residents: 1155285

### Join tables to population from 1997 to 2012 and population 2013 to 2019.

#### Hox! Between years 1997 and 2012 grid size 500m x 500m. Since 2013 grid size 250m x 250m. Thats why will create two different geodataframes and join them later.

#### First create years 1997 to 2012.

In [4]:
# Combine dataframes to lists
pop_list = [pop1997_pop, pop1998_pop, pop1999_pop, pop2000_pop, pop2001_pop, pop2002_pop, pop2003_pop,
           pop2008_pop, pop2009_pop, pop2010_pop, pop2011_pop, pop2012_pop]

geom_list = [pop1997_geom, pop1998_geom, pop1999_geom, pop2000_geom, pop2001_geom, pop2002_geom, pop2003_geom,
           pop2008_geom, pop2009_geom, pop2010_geom, pop2011_geom, pop2012_geom]

# Merge dataframes
pop = reduce(lambda left,right: pd.merge(left,right,on='INDEX', how="outer"), pop_list)
geom = reduce(lambda left,right: pd.merge(left,right,on='INDEX', how="outer"), geom_list)

# Fill missing population values with 0
pop = pop.fillna(0)

# Fill missing geometry value from left
geom["geometry"] = geom.apply(lambda x:  x[x.last_valid_index()], axis=1)
geom = geom["geometry"]

# Merge dataframes pop and geom
population = pop.join(geom)

# Convert dataframe back to geodataframe
population1997to2012 = gpd.GeoDataFrame(population)

# Set coordinate reference system
population1997to2012.crs = CRS.from_epsg(3879).to_wkt()

# Save geodataframe
#outfp = "population_data/population1997to2012.shp"
#population1997to2012.to_file(outfp)

# Show 3 first row
population1997to2012.head(3)

,pop1997,pop1998,pop1999,pop2000,pop2001,pop2002,pop2003,pop2008,pop2009,pop2010,pop2011,pop2012,geometry
INDEX,,,,,,,,,,,,,
14,55.0,52.0,79.0,84.0,50.0,49.0,47.0,49.0,55.0,54.0,51.0,50.0,"POLYGON Z ((25488999.996 6695499.995 0.000, 25..."
16,25.0,29.0,20.0,23.0,33.0,35.0,34.0,38.0,38.0,38.0,36.0,32.0,"POLYGON Z ((25491000.002 6695499.995 0.000, 25..."
17,13.0,13.0,0.0,0.0,12.0,12.0,12.0,0.0,0.0,0.0,0.0,0.0,"POLYGON Z ((25492000.001 6695499.995 0.000, 25..."

#### Then create years 2013 to 2019

In [5]:
# Combine dataframes to lists
pop_list = [pop2013_pop, pop2014_pop, pop2015_pop, pop2016_pop, pop2017_pop, pop2018_pop, pop2019_pop]
geom_list = [pop2013_geom, pop2014_geom, pop2015_geom, pop2016_geom, pop2017_geom, pop2018_geom, pop2019_geom]

# Merge dataframes
pop = reduce(lambda left,right: pd.merge(left,right,on='INDEX', how="outer"), pop_list)
geom = reduce(lambda left,right: pd.merge(left,right,on='INDEX', how="outer"), geom_list)

# Fill missing population values with 0
pop = pop.fillna(0)

# Fill missing geometry value from left
geom["geometry"] = geom.apply(lambda x:  x[x.last_valid_index()], axis=1)
geom = geom["geometry"]

# Merge dataframes pop and geom
population = pop.join(geom)

# Convert dataframe back to geodataframe
population2013to2019 = gpd.GeoDataFrame(population)

# Set coordinate reference system
population2013to2019.crs = CRS.from_epsg(3879).to_wkt()

# Save geodataframe
#outfp = "population_data/population2013to2019.shp"
#population2013to2019.to_file(outfp)

# Show 3 first row
population2013to2019.head(3)

,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018,pop2019,geometry
INDEX,,,,,,,,
688,5.0,8.0,8.0,7.0,9.0,9.0,0.0,"POLYGON Z ((25472499.995 6689749.005 0.000, 25..."
703,6.0,6.0,6.0,6.0,0.0,5.0,5.0,"POLYGON Z ((25472499.995 6685998.998 0.000, 25..."
710,7.0,8.0,8.0,8.0,8.0,8.0,8.0,"POLYGON Z ((25472499.995 6684249.004 0.000, 25..."

### Join tables population1997to2012 and population2013to2019

#### Now they have different geometries. Old one has 500m x 500m and new one 250m x 250m. Convert new grid geometry to old one and then join tables

#### Find centroid of each geometry in population2013to2019

In [6]:
# Convert geometry to centroid of polygon
population2013to2019["geometry"] = population2013to2019.centroid

# Print first rows
population2013to2019.head(3)

,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018,pop2019,geometry
INDEX,,,,,,,,
688,5.0,8.0,8.0,7.0,9.0,9.0,0.0,POINT (25472624.994 6689874.005)
703,6.0,6.0,6.0,6.0,0.0,5.0,5.0,POINT (25472624.994 6686123.998)
710,7.0,8.0,8.0,8.0,8.0,8.0,8.0,POINT (25472624.994 6684374.004)

#### Find old grid for each centroid in new dataframe

In [7]:
# Create column old geometry with grid system 500m x 500m
old_geometry = population1997to2012[["pop1997", "geometry"]]

# Spatial old geometry with population2013to2019, which had previously polygons 250m x 250m
pop2013to2019 = gpd.sjoin(old_geometry, population2013to2019, how="inner", op="contains")

# Drop unwanted column pop1997 and old index
pop2013to2019 = pop2013to2019.drop(['pop1997', 'index_right', 'geometry'], axis=1)

# Copy index to own column
pop2013to2019['index'] = pop2013to2019.index

# Group data by index and calculate sum of each index (population in old grid)
pop2013to2019 = pop2013to2019.groupby(pop2013to2019["index"]).sum()

# Join new dataframe to population1997to2012 dataframe
population = population1997to2012.merge(pop2013to2019, left_index=True, right_index=True, how='outer')

# Fill missing values with 0
population[["pop2013", "pop2014", "pop2015", "pop2016", "pop2017", "pop2017", "pop2018", "pop2019"]
          ] = population[["pop2013", "pop2014", "pop2015", "pop2016", "pop2017", "pop2017", "pop2018", "pop2019"]].fillna(0)

# Show first rows
population.head(3)

,pop1997,pop1998,pop1999,pop2000,pop2001,pop2002,pop2003,pop2008,pop2009,pop2010,pop2011,pop2012,geometry,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018,pop2019
14,55.0,52.0,79.0,84.0,50.0,49.0,47.0,49.0,55.0,54.0,51.0,50.0,"POLYGON Z ((25488999.996 6695499.995 0.000, 25...",50.0,49.0,53.0,56.0,54.0,52.0,51.0
16,25.0,29.0,20.0,23.0,33.0,35.0,34.0,38.0,38.0,38.0,36.0,32.0,"POLYGON Z ((25491000.002 6695499.995 0.000, 25...",29.0,25.0,28.0,26.0,26.0,26.0,25.0
17,13.0,13.0,0.0,0.0,12.0,12.0,12.0,0.0,0.0,0.0,0.0,0.0,"POLYGON Z ((25492000.001 6695499.995 0.000, 25...",0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Change column order

In [8]:
# Get columns names
columns = population.columns.tolist()

# Sort columns alphabetically
columns = sorted(columns)

# Set new order to dataframe
population = population[columns]

# Show first rows
population.head(3)

,geometry,pop1997,pop1998,pop1999,pop2000,pop2001,pop2002,pop2003,pop2008,pop2009,pop2010,pop2011,pop2012,pop2013,pop2014,pop2015,pop2016,pop2017,pop2018,pop2019
14,"POLYGON Z ((25488999.996 6695499.995 0.000, 25...",55.0,52.0,79.0,84.0,50.0,49.0,47.0,49.0,55.0,54.0,51.0,50.0,50.0,49.0,53.0,56.0,54.0,52.0,51.0
16,"POLYGON Z ((25491000.002 6695499.995 0.000, 25...",25.0,29.0,20.0,23.0,33.0,35.0,34.0,38.0,38.0,38.0,36.0,32.0,29.0,25.0,28.0,26.0,26.0,26.0,25.0
17,"POLYGON Z ((25492000.001 6695499.995 0.000, 25...",13.0,13.0,0.0,0.0,12.0,12.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Check that population of the years 2013 to 2019 has not changed in merge process

In [9]:
# Check that population sum has stayed same after convert to old grid system
for year in ["pop2013", "pop2014", "pop2015", "pop2016", "pop2017", "pop2018", "pop2019"]:
    print(year + " before merge: " + str(pop2013to2019[year].sum()) + 
      " After: " + str(population[year].sum()) + " Change: " + str(pop2013to2019[year].sum()-population[year].sum()))

pop2013 before merge: 1049700.0 After: 1049700.0 Change: 0.0
pop2014 before merge: 1075996.0 After: 1075996.0 Change: 0.0
pop2015 before merge: 1085593.0 After: 1085593.0 Change: 0.0
pop2016 before merge: 1109075.0 After: 1109075.0 Change: 0.0
pop2017 before merge: 1117231.0 After: 1117231.0 Change: 0.0
pop2018 before merge: 1131283.0 After: 1131283.0 Change: 0.0
pop2019 before merge: 1146766.0 After: 1146766.0 Change: 0.0

### Save dataframe population

In [10]:
# Save geodataframe
outfp = "population_data/population.shp"
population.to_file(outfp)